@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background: #0d0d0f !important;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}

.navbar {
  background-color: #161616 !important;
}

#search-box:focus {
  outline: 2px solid #00ce79 !important;
  outline: none;
}

div.card {
  /* font-size: 1.5rem; */
  background-color: #1e1e1e;
  color: white;
  margin: 0.5rem;  
  width: auto !important;
  transition: all 0.3s ease-in-out;
}

/* icon buttons for favourites, more film info */
div.card button {
  background-color: #1e1e1e;
  color: white;
}

div.card button:hover {
  color: #00ce79;
}

div.react-tooltip {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  color: black;
}

div.card:hover {
  transform: scale(1.035);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}



@media screen and (max-width: 800px) {
  div.card {
    margin: 1rem;
  }

  #movie-info {
    flex-direction: column;
  }

  #form {
    width: 100% !important;
  }
}


.selected {
  background-color: #00ce79 !important;
  color: black;
}

.search-box {
  background: #1e1e1e !important;
  color: white !important;
}

/*** SVG Info/Fav button animations ***/
.svg-info-square {
  transition: fill ease-in 370ms;
}

.svg-info-square:hover,
.svg-info-square:active {
  fill: #00ce79;
}

.svg-star {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.6);
  stroke-linecap: round;
  transition: all ease-in 380ms;
}

.svg-star:hover,
.svg-star:active {
  fill: #00ce79;
  stroke: #00ce79;
}